{% extends 'base.html' %} 
{% block title %}
 Invite Friends
{% endblock title %} 

{% block content %}

    {% if is_empty %}
        <h1>No Request is here..</h1>
    {% endif%}
    
    {% for obj in qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui small circular image" src={{obj.avatar.url}} alt="">
                        </div>
                      <div class="thirteen wide column">
                                <h3>{{obj.user.first_name}} {{obj.user.last_name}}</h3>
                                <p>{{obj.bio}}</p>
                                <br>
                                <a href="">
                                    <button class="ui primary button mb-5 w-big">See Profile</button>
                                </a>
                            <form action="{% url 'profiles:accept-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                                <button type="submit" class="ui positive basic button mb-5 w-big">
                                    <i class="check square icon"></i>
                                    Accept Request
                                </button>
                            </form>
                            
                            <form action="{% url 'profiles:reject-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                                <button type="submit" class="ui negative basic button mb-5 w-big">
                                    <i class="close icon"></i>
                                    Reject Request
                                </button> 
                            </form>
                      </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock content %}